.card-title {
  margin: 0;
  font-weight: 700;
}

.card-price {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.card_body {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-text {
  display: flex;
  align-items: center;
  gap: 10px;
}

.quantity {
  margin: 0;
}

.close-button {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 10px;
}
